[submodule "cookbooks/emacs"]
	path = cookbooks/emacs
	url = git://github.com/opscode-cookbooks/emacs.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = git://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql.git
